/* Define default (light) theme variables */
:root {
    --background-color: white;
    --text-color: black;
    --navbar-bg-color: white;
}

/* Define dark theme variables */
[data-theme="dark"] {
    --background-color: black;
    --text-color: white;
    --navbar-bg-color: black;
}

/* Apply the variables */
body {
    background-color: var(--background-color);
    color: var(--text-color);
}

.navbar.custom-bg {
    background-color: var(--navbar-bg-color) !important;
}
