body.dark {
    background-color: black;
    color: white;
}

body.light {
    background-color: white;
    color: black;
}

.navbar-dark.custom-bg {
    background-color: black !important;
}

.navbar-light.custom-bg {
    background-color: white !important;
}
